# RL
gymnasium==1.2.3
flappy-bird-gymnasium==0.4.0

# DL
torch==2.5.1
numpy>=1.24.0,<2.0.0

# Visualización
matplotlib>=3.7.0
imageio==2.31.0
imageio[ffmpeg]
seaborn==0.13.2

# Utilidades
tqdm>=4.67.3